
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Source+Sans+Pro:900i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

body{
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: repeat-y;
  background-size:cover;
  background-attachment: fixed;

}

.margin-up {
  margin-top: 10px;
}

.margin-lados{
  margin:15px;
}

.justificado{
  text-align: justify;
}

p{
  font-size: 20px;
}
.logo-estilo img{
  border-radius: 10px;
  margin: 10px;
  width: 100%;
}

.nav-estilo{
  padding: 15px;
}
.menu-chico a {
  background-color: RGB(0 , 0, 255, 0.5);
  padding: 5px;
}

.menu-chico i {
  color: white;
  text-align: center;
}

.slogan{
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Pacifico', cursive;
  /* background: rgba(200, 200, 200, 0.5); */
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
}

.icones {
  font-size: 50px;
  color: white;
  opacity: 0.8;
}

.icones:hover {
  opacity: 1;
}
.mostrar {
  display: none;
}
@media screen and (max-width:993px) and (min-width:600px) {
  .mostrar{
    display:block;
  }
}

@media screen and (max-device-width:993px) and (min-device-width:600px) {
  .mostrar{
    display: block;
  }
}

.ancho-100{
  width: 100%;
}

.boton-menu-posicion {
  float:right;
}
